@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Ovo&display=swap');
@import "tailwindcss";

/* Set Outfit as default global font */
body {
  font-family: 'Outfit', sans-serif;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleUp {
  animation: scaleUp 0.3s ease-out forwards;
}